version: "3.8"
services:
  backend:
    restart: always
    image: 42-node
    build:
      context: ./
      dockerfile: Dockerfile.42-node
    environment:
      - DB_NAME=${DB_NAME}
      - JWT_SECRET=${JWT_SECRET}
      - API_KEY_42=${API_KEY_42}
    volumes:
      - ./backend/:/app
    ports:
      - 3000:3000
    networks:
      - mynet
    command: sh -c 'npm install && npm run start:dev'

  frontend:
    restart: always
    image: 42-node
    volumes:
      - ./frontend/:/app
    environment:
      - BACKEND_HOST=localhost
      - BACKEND_PORT=3000
    ports:
      - 8080:8080
    networks:
      - mynet
    command: sh -c 'npm install && npm run serve'

  mock-api:
    restart: always
    image: 42-node
    volumes:
      - ./reference/:/app
    ports:
      - 3001:4010
    networks:
      - mynet
    command: prism mock --dynamic -h 0.0.0.0 ./api.oas3.yaml   # simply mock the api reference
    # command: prism proxy ./api.oas3.yaml backend:3000 --errors      # check and forward backend answer, and mock not 501 not implemented responce from backend 

  # compodoc:
  #   image: 42-node
  #   volumes:
  #     - ./backend/:/app
  #   ports:
  #     - 8081:8080
  #   command: "npx @compodoc/compodoc -p tsconfig.json -s"

networks:
  mynet:
